@using Microsoft.AspNet.Identity
@model DatingSite.Models.ViewModels.FriendsFriendRequestsViewModel


@{
    ViewBag.Title = "FriendDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FriendDetails</h2>

<div class="col-lg-5">
    <table class="table table-hover">
        <tbody>

            <tr class="table-primary">
                <th scope="row">Friends</th>
            </tr>
            @foreach (var item in @Model.Friends)
            {
                <tr class="table-success">
                    @if (item.ProfileOwner.Id != User.Identity.GetUserId())
                    {
                        <td>
                            @item.ProfileOwner.FirstName @item.ProfileOwner.LastName
                        </td>
                    }

                    @if (item.ProfileVisitor.Id != User.Identity.GetUserId())
                    {
                        <td>
                            @item.ProfileVisitor.FirstName @item.ProfileVisitor.LastName
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-lg-5">
    <table class="table table-hover">
        <tbody>
            <tr class="table-primary">
                <th scope="row">Friend Requests</th>
            </tr>

            @foreach (var item in @Model.FriendRequests)
            {
                <input type="hidden" class="FriendRequestId" value="@item.Id" />

                <tr class="table-warning">
                    <td>
                        @item.ProfileVisitor.FirstName
                        <span class="Accept-Friend-Request badge badge-success">ACCEPT</span>
                        <span class="Decline-Friend-Request badge badge-danger">DECLINE</span>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function (ev) {
            $('.Accept-Friend-Request').click(function (ev) {
                var friendRequestId = $('.FriendRequestId').val();
                ev.preventDefault();
                
                $.get('/API/Friends/FriendRequest/Accept?FriendModelId='
                    + friendRequestId,
                    function () {
                        window.location.reload();
                    }
                );
            });

            $('.Decline-Friend-Request').click(function (ev) {
                var friendRequestId = $('.FriendRequestId').val();
                ev.preventDefault();

                $.get('/API/Friends/FriendRequest/Decline?FriendModelId='
                    + friendRequestId,
                    function () {
                        window.location.reload();
                    }
                );
            });
        });

    </script>
}
