@using Microsoft.AspNet.Identity
@using DatingSite.Models
@using System.Linq;

@model DatingSite.Models.ViewModels.FriendsFriendRequestsViewModel


@{
    ViewBag.Title = "FriendDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="card-body">
            <p> <input type="text" class="form-cont</div>rol" required="required" placeholder="New friend category" id="CategoryInput"></p>
            <p> <button type="button" class="btn btn-primary" id="AddCategory">Add</button></p>
        </div>
    </div>

    <div class="col-md-8">


        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    <tr class="table-secondary">
                        <th colspan="3" scope="row">Friends</th>
                    </tr>

                    @foreach (var item in @Model.FriendListViewModels)
                    {
                    <tr class="table-light">
                        @*CategoryName*@
                        @if (@item.CategoryName != null)
                        {
                            <td>
                                @item.CategoryName
                            </td>
                        }
                        else
                        {
                            <td>
                                @*show nothing if no friend category assigned*@
                            </td>
                        }

                        @*FriendFullName*@
                        <td>
                            <a href="/Profile/Details/@item.FriendUserId">@item.FriendFullName </a>
                        </td>

                        @*DropDownList for friend categories*@
                        <td>
                            @if (Model.FriendCategories != null)
                            {
                                if (Model.FriendCategories.Any())
                                {
                                    using (Html.BeginForm("AssignFriendCategory", "Profile", null, FormMethod.Post, htmlAttributes: new { @class = "form-inline my-2 my-lg-0" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="FriendModelId" value=@item.FriendModelId />

                                        <div class="form-group">
                                            @Html.DropDownList("ddlFriendCategoryName", Model.FriendCategories.Select(f => new SelectListItem
                                       {
                                           Value = f.CategoryName.ToString(),
                                           Text = f.CategoryName.ToString(),
                                           Selected = "select" == f.CategoryName.ToString()
                                       }), "-select-")
                                        </div>

                                        <div class="form-group">
                                            <input type="hidden" name="FriendRequestSide" value=@item.FriendRequestSide />
                                            <button id="AssignCategory" class="btn btn-secondary btn-sm" type="submit">Assign category</button>
                                        </div>
                                    }
                                }
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">Friend Requests</th>
                    </tr>

                    @foreach (var item in @Model.FriendRequests)
                    {
                        <input type="hidden" class="FriendRequestId" value="@item.Id" />
                        <tr class="table-light">
                            <td>
                                <a href="/Profile/Details/@item.ProfileVisitorId">@item.ProfileVisitor.FirstName @item.ProfileVisitor.LastName </a>
                                <span class="Accept-Friend-Request badge badge-success">ACCEPT</span>
                                <span class="Decline-Friend-Request badge badge-danger">DECLINE</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function (ev) {
            $.ajax({
                url: '/api/Category/Category/ShowList',
                dataType: 'json',
                success: function (data) {
                    data.forEach((data) => {
                        var CategoryName = ('<li>' + data.CategoryName + '</li>');
                        $('#CategoryList').append(CategoryName);
                    });
                }
            });

            $('.Accept-Friend-Request').click(function (ev) {
                var friendRequestId = $('.FriendRequestId').val();
                ev.preventDefault();

                $.get('/API/Friends/FriendRequest/Accept?FriendModelId='
                    + friendRequestId,
                    function () {
                        window.location.reload();
                    }
                );
            });

            $('.Decline-Friend-Request').click(function (ev) {
                var friendRequestId = $('.FriendRequestId').val();
                ev.preventDefault();

                $.get('/API/Friends/FriendRequest/Decline?FriendModelId='
                    + friendRequestId,
                    function () {
                        window.location.reload();
                    }
                );
            });

            $('#AddCategory').click(function (ev) {
                ev.preventDefault();
                
                var categoryName = $('#CategoryInput').val();

                if (categoryName != null && categoryName.trim() != "") {
                    $('#CategoryInput').val("");
                    console.log(categoryName);
                    $.get('/api/Category/Category/Add?categoryName='
                        + categoryName,
                        function () {
                            window.location.reload();
                        });
                } else {
                    alert("Please give a name to your new friend category.");
                }
            });
        });
    </script>
}
